---
import { Image } from "astro:assets";

const contactsInfo = await fetch(`http://localhost:1337/api/navigation/render/2?type=TREE`).then(x  => x.json());
---
<nav class="fap-contacts-nav">
    <ul class="fap-contacts-info">
        {
            contactsInfo[0].items?.map(item => 
                <>
                    <li>
                        <Image src={item.iconURL} width={12} height={12} alt={item?.title} />
                        {item.path !== "#" && <a href={item?.path}>{item?.title}</a>}
                        {item.path == "#" && <span>{item?.title}</span>}
                    </li>

                </>
            )
        }
    </ul>
</nav>

<style lang="scss" is:global>
    .fap-contacts-nav {
        @media (width < 768px) {
            display: none;
        }
        & a {
            transition: var(--animate-default);
            &:hover {
                color: var(--color-primary);
            }
        }
    }
    .fap-contacts-info {
        display: flex;
        flex-direction: column;
        gap: .25em;

        @media (width > 992px) {
            flex-direction: row;
            gap: 1.5em;
        }

        & li {
            display: flex;
            align-items: center;
            gap: .35em;
            font-weight: 500;


            & > :is(a, span) {
                font-family: FontMedium, Roboto, Helvetica, sans-serif;
                color: var(--color-black);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
</style>