---
import Arrow from "../Icons/Arrow.astro";

const mainMenu = await fetch(`http://localhost:1337/api/navigation/render/3?type=TREE`).then(x  => x.json());
---

<header class="fap-header-menu-block">
    <nav class="fap-main-menu-nav container">
        <ul class="fap-main-menu-list">
            {
                mainMenu.map(item => 
                    <>
                        <li>
                            <a href={item.path}>{item.title}</a>
                            <input class="fap-main-menu-list-checkbox-hidden" hidden type="checkbox" id={`head-item-${item.id}`} />
                            <label class="fap-main-menu-list-checkbox" for={`head-item-${item.id}`}>
                                <Arrow />
                            </label>
                            {
                                item.items.length > 0 && 
                                <div class="fap-main-menu-dropdown-lvl-1">
                                <div class="container">
                                    <div class="fap-main-menu-dropdown-lvl-1-wrap">

                                        <ul class="fap-main-menu-dropdown-lvl-1-list">
                                            {
                                                item?.items?.map( _item => 
                                                    <li data-id={_item.id}>
                                                        <a href={_item.path}>{_item?.title}</a>
                                                        {/* <ul class="fap-main-menu__dropdown-lvl-2-list">
                                                            {
                                                                _item?.items.map( __item => 
                                                                    <li>
                                                                        <a href={__item.path}>
                                                                            <img width="20" height="20" src={__item?.iconURL} alt="" srcset="" />
                                                                            <span>{__item?.title}</span>
                                                                        </a>
                                                                    </li>
                                                                )
                                                            }
                                                        </ul> */}
                                                    </li>
                                                )
                                            }
                                        </ul>    
                                        {
                                            item?.items?.map( _item =>
                                                <ul class="fap-main-menu__dropdown-lvl-2-list" data-parent-id={_item.id}>
                                                    {
                                                        _item?.items?.map( __item => 
                                                            <li>
                                                                <a href={__item.path}>
                                                                    <img width="20" height="20" src={__item?.iconURL} alt="" srcset="" />
                                                                    <span>{__item?.title}</span>
                                                                </a>
                                                            </li>
                                                        )
                                                    }
                                                </ul>
                                            )
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                            }
                                    
                        </li>

                    </>
                )
            }
        </ul>
    </nav>
    
</header>

<style lang="scss" is:global>
    .fap-header-menu-block {
        position: relative;
        border-bottom: 1px solid var(--color-medium-gray);
        @media (width < 768px) {
            opacity: 0;
            transform: translateX(-100vw);
            transition: ease 1s;
            &.show {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .fap-main-menu-list {
        display: flex;
        align-items: center;
        gap: 1.42em;
        grid-area: main;
        
        & > li {
            display: flex;
            flex-wrap: wrap;
            @media (width < 768px) {
                width: 100%;
                align-items: center;
            }

            & svg {
                transition: var(--animate-default);
            }

        }

        & > li > a {
            display: inline-block;
            padding: .5em 0;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--color-dark-gray);
            @media (width > 768px) {
                padding: 20px 0;
            }
        }

        & > li:hover > .fap-main-menu-dropdown-lvl-1 {
            pointer-events: all;
            @media (width > 768px) {
                // display: block;
                opacity: 1;
                padding: .85rem 0;
            }
            
        }

        @media (width < 768px) {
            flex-direction: column;
            align-items: start;
            gap: 0;
        }
    }
    .fap-main-menu-list-checkbox-hidden:checked {
        & ~ .fap-main-menu-dropdown-lvl-1 {
            grid-template-rows: 1fr;
        }
        & ~ label svg {
            transform: rotate(180deg);
        }
        & ~ label svg path {
            stroke: var(--color-primary);
        }
    }
    .fap-main-menu-list-checkbox {
        flex: 1;
        text-align: right;
        @media (width > 768px) {
            display: none;
        }
    }
    .fap-main-menu-dropdown-lvl-1 {
        // display: grid;
        pointer-events: none;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;

        width: 100vw;
        @media (width > 768px) {
            position: absolute;
            top: 100%;
            left: 0;
            box-shadow: var(--shadow-default);
            opacity: 0;
            transition-property: opacity;
        }
        @media (width < 768px) {
            display: grid;
        }
        & li > a {
            display: inline-flex;
            align-items: center;
            gap: 1em;
            padding: .55em;
            color: var(--color-dark-gray);
            &:hover {
                background-color: var(--color-medium-gray);
            }
            @media (width > 768px) {
                padding: .85em;
            }
        }

        & .container {
            overflow: hidden;
            @media (width < 768px) {
                margin: 0;
                padding: 0;
            }

        }
    }
    .fap-main-menu-dropdown-lvl-1-wrap {
        display: flex;
    }
    .fap-main-menu-dropdown-lvl-1-list {
        position: relative;
        width: max-content;

        & > li {
            display: flex;
            & > a {
                width: 220px;
            }
        }
    }
    .fap-main-menu__dropdown-lvl-2-list { 
        visibility: hidden;
        overflow: hidden;
        width: 0;
        opacity: 0;
        transition: opacity var(--animate-default);
        & li {
            display: flex;
            align-items: center;
        }
        &.active {
            @media (width > 768px) {
                width: max-content;
                opacity: 1;
                display: flex;
                flex-direction: column;
                visibility: visible;
            }
            
        }
    }
</style>

<script>
    document.querySelectorAll('.fap-main-menu-dropdown-lvl-1-list > li').forEach(el => {
        el.addEventListener("mouseover", () => {
            let id = el.getAttribute('data-id');
            el.closest('.fap-main-menu-dropdown-lvl-1-wrap').querySelector(`.fap-main-menu__dropdown-lvl-2-list[data-parent-id="${id}"]`).classList.add("active");
        });
        el.addEventListener("mouseout", () => {
            let id = el.getAttribute('data-id');
            el.closest('.fap-main-menu-dropdown-lvl-1-wrap').querySelector(`.fap-main-menu__dropdown-lvl-2-list[data-parent-id="${id}"]`).classList.remove("active")
        });
    });
    document.querySelectorAll(`.fap-main-menu__dropdown-lvl-2-list`).forEach(e => {
        e.addEventListener("mouseover", () => {
            e.classList.add("active");
        })
    });
    document.querySelectorAll(`.fap-main-menu__dropdown-lvl-2-list`).forEach(e => {
        e.addEventListener("mouseout", () => {
            e.classList.remove("active");
        })
    })

</script>